@media screen and (max-width: 768px) {

    .nav-list,
    .desk-list {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-list {
        width: 100%;
        position: fixed;
        left: -100%;
        top: 70px;
        border-radius: 0 0 25px 25px;
        background: var(--clr3);
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
    }

    .nav-list.active {
        left: 0;
    }

    .nav-item {
        margin: .5rem auto;
        padding: .3rem;
    }

    .nav-link {
        color: var(--clr1);
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .name,
    .last-name {
        font-size: 5rem;
    }

    .name-box h3 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .name,
    .last-name {
        font-size: 4rem;
    }

    .name-box h3 {
        font-size: 1.2rem;
    }   
}

@media screen and (max-width: 500px) {
    .name,
    .last-name {
        font-size: 3rem;
    }

    .name-box h3 {
        font-size: 1rem;
    }   
}

@media screen and (max-width: 400px) {
    .name,
    .last-name {
        font-size: 2rem;
    }

    .name-box h3 {
        font-size: 0.7rem;
        margin-top: 0.8rem;
    }   
}

@media screen and (max-width: 300px) {
    .name,
    .last-name {
        font-size: 1.5rem;
    }

    .name-box h3 {
        font-size: 0.5rem;
        margin-top: 0.6rem;
    }   
}

@media screen and (max-width: 245px) {
    .name,
    .last-name {
        font-size: 0.5rem;
    }

    .name-box h3 {
        font-size: 0.3rem;
        margin-top: 0.5rem;
    }   
}

