@media screen and (max-width: 768px) {

    .nav-list,
    .desk-list {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-list {
        width: 100%;
        /* border: 5px solid var(--clr2); */
        position: fixed;
        left: -100%;
        top: 70px;
        border-radius: 0 0 25px 25px;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: all 0.5s ease-in-out;
    }

    .nav-list.active {
        left: 0;
    }

    .nav-item {
        margin: .5rem auto;
        padding: .3rem;
    }

    .nav-link {
        color: black;
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 2px;
    }
}