@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr1: #000;
    --clr2: #ff0f5b;
    --clr3: #ddd;
    --clr4: #F5F749;
    --clr5: #ffffff;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Fira Sans', sans-serif;
    /* background: var(--clr1); */
}

.navbar {
    width: 100%;
    height: 70px;
    background: var(--clr1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    margin: 0 auto;
    z-index: 100;
}

.menu {
    display: flex;
    align-items: center;
    margin-left: 3%;
    /* border: 2px solid red; */
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    text-decoration: none;
    margin: 0 2.2rem;
    font-size: 1.4rem;
    padding: 2px;
    color: var(--clr5);
    position: relative;
}

.nav-link::after {
    content: " ";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
}

.nav-link:hover::after {
    width: 100%;
    height: 2px;
    background: var(--clr2);
}

.desk-list {
    list-style: none;
    display: flex;
    margin-right: 2%;
}

.desk-item {
    font-size: 1.6rem;
    margin: 0 1.3rem;
}

.desk-link {
    color: var(--clr5);
}

.menu-icon {
    display: none;
    cursor: pointer;
    margin-right: 3%;
    padding: 2px;
}

.bar {
    width: 28px;
    height: 3px;
    background: var(--clr5);
    display: block;
    margin: 5px 0;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

/* ESTILIZAÇÃO DA BOX - VIDEO */

.box-video {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    /* border: 2px solid red; */
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 2px solid blue; */
}

/* APRESENTAÇÃO */

.name-box {
    /* border: 2px solid green; */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* NOME - SOBRENOME - PROFISSÃO */

.name,
.last-name {
    display: inline-flex;
    color: var(--clr3);
    font-size: 6rem;
    letter-spacing: .5rem;
    opacity: 0;
    animation: animate 1.5s linear forwards;
    transform-origin: -20px;
}

.name-box h1,
h2 {
    margin-bottom: 1rem;
}

.name-box h3 {
    color: var(--clr2);
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    animation: animate 7s linear forwards;
    font-family: 'Architects Daughter', cursive;
}

/* ESTILIZAÇÃO E ANIMAÇÃO DAS LETRAS DO NOME */

.name:nth-child(1) {
    animation-delay: 1.5S;
    color: var(--clr2);
}

.name:nth-child(2) {
    animation-delay: 2s;
}

.name:nth-child(3) {
    animation-delay: 2.5s;
}

.name:nth-child(4) {
    animation-delay: 3s;
}

.name:nth-child(5) {
    animation-delay: 3.5s;
}

.name:nth-child(6) {
    animation-delay: 4s;
}

/* ESTILIZAÇÃO E ANIMAÇÃO DAS LETRAS DO SOBRENOME */

.last-name:nth-child(1) {
    animation-delay: 1s;
    color: var(--clr2);
}

.last-name:nth-child(2) {
    animation-delay: 1.5s;
}

.last-name:nth-child(3) {
    animation-delay: 1.9s;
    color: var(--clr2);
}

.last-name:nth-child(4) {
    animation-delay: 2.2s;
}

.last-name:nth-child(5) {
    animation-delay: 2.5s;
}

.last-name:nth-child(6) {
    animation-delay: 3s;
}

.last-name:nth-child(7) {
    animation-delay: 3.6s;
}

.last-name:nth-child(8) {
    animation-delay: 3.8s;
}

.last-name:nth-child(9) {
    animation-delay: 4.2s;
}

/* ANIMAÇÃO DA NAME-BOX */

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(20px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0);
        filter: blur(0);
    }
}

/* SEÇÃO ABOUT - CONTAINER */